
.modal {
  position: fixed;
  top: 25%;
  left: 25%;
  width:50%;
  height: 50%;
  background: rgba(0, 0, 0, 0.6);
  line-height: 200%;
}
.modal h3 {
  background-color: white;
  width: 30%;
  margin: auto;
  margin-top: 5%;
}
.modal form {
  background-color: white;
  width: 50%;
  padding-right: 10%;
  margin: auto;
  margin-top: 5%;
  text-align: right;
}